.itemList__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  color: #b70303;
}

@media screen and (max-width: 768px) {
  .itemList__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .itemList__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
